h1 {
  font-family: "Nabla", cursive;
  font-size: 8rem;
}

h2 {
  font-size: 3rem;
  color: rgb(106, 48, 6);
}

body {
  background-image: none;
  background-size: 30% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(36, 173, 38);
  min-height: 100vh;
  font-family: "Rubik Beastly", system-ui;
  padding: 2rem;
  color: rgb(255, 0, 221);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("SOUP.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  transform-origin: center center;
  animation: rotate-bg 10000ms linear infinite;
  z-index: -1;
}

.andr-image {
  position: fixed;
  pointer-events: none;
  width: min(100px, 18vw);
  height: auto;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translate(-20%, -20%);
  animation: rotate-andr 2s linear infinite;
}

@keyframes rotate-andr {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.nabla-uniquifier {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.rubik-beastly-regular {
  font-family: "Rubik Beastly", system-ui;
  font-weight: 400;
  font-style: normal;
}
